/* 
  TUGAS UAS 
  NAMA  = RYAN MUHAMMAD HILDAN
  NIM   = 10122475
  KELAS = IF-9
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  z-index: 9999;
}

.preloading {
  overflow-y: hidden;
}

.preloader-web {
  width: 100%;
  height: 100%;
  background-color: #111;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.loader {
  width: 50px;
  height: 50px;
  border: 5px solid;
  color: #ff4655;
  border-radius: 50%;
  border-top-color: transparent;
  animation: loader 1.2s linear infinite;
}

@keyframes loader {
  25% {
    color: #ff4655;
  }
  50% {
    color: #ff8189;
  }
  75% {
    color: #ff8189;
  }
  to {
    transform: rotate(360deg);
  }
}

.videoHeader {
  text-align: center;
  height: 100%;
}

video {
  width: 100%;
  z-index: 0;
}

main {
  background: url("../../Assets/Background/v-background-wallpaper1.png") center
    fixed;
  background-size: cover;
}

section {
  text-align: center;
}

section p {
  padding-top: 15px;
  font-size: 18px;
  color: #78827b;
}

.container {
  width: 85%;
  margin: auto;
}

.introduction-header h1 {
  color: #ff4655;
  padding-top: 100px;
  font-size: 3rem;
  font-weight: bolder;
}

.wrapper {
  text-align: center;
  color: #0f1923;
  margin: auto;
  width: 75%;
  padding-top: 100px;
}

.firstWrapper {
  width: 75%;
  display: grid;
  column-gap: 40px;
  grid-template-columns: 1.5fr 1fr;
}

.boxInfo {
  padding: 60px 35px;
  margin-bottom: 100px;
  display: inline-block;
  background-color: #ece8e1;
  /* background-color: transparent; */
  border: 4px solid #111;
  border-radius: 25px;
  box-shadow: 8px 8px 8px #111;
}

.info-3 {
  grid-column: 1 / span 2;
  margin-bottom: 20px;
}

.final-wrapper {
  padding-top: 0;
}

.final-boxInfo {
  margin-top: 60px;
  width: 65%;
}

.button-fanpage {
  background-color: #ff4655;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 20px;
  margin: 0;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  transform: translateZ(0);
  transition: filter 0.2s;
  width: 45%;
  margin-top: 45px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  -webkit-transition: filter 0.2s;
  -moz-transition: filter 0.2s;
  -ms-transition: filter 0.2s;
  -o-transition: filter 0.2s;
}

.button-fanpage:after {
  background-clip: padding-box;
  background-color: #ff4655;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.button-fanpage:hover {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

/* AGENTS */
.other-agents {
  height: fit-content;
  width: 100%;
  padding: 100px 200px;
  position: relative;
}

.other-agents h1 {
  font-weight: 900;
  font-size: 4rem;
  margin-bottom: 100px;
}

.other-agents h1 span {
  font-weight: 300;
}

.other-agents .agents-container {
  display: grid;

  margin: 5%;
  grid-template-columns: repeat(8, 1fr);
  grid-auto-flow: row;
}

.other-agents .agents-container a {
  overflow: hidden;
}

.other-agents .agents-container img {
  border: 5px solid #0f1923;
  filter: grayscale(1);
  transition: all ease-in-out 0.1s;
}

.other-agents .agents-container img:hover {
  border: 5px solid #ff4655;
  filter: grayscale(0);
}

.agent.pick img {
  border: 5px solid #ff4655;
  filter: grayscale(0);
}
/* AGENT END */

/* .Valorant {
    background: url("Assets/bg2.jpg") center;
    background-size: cover;
  } */

/* .about-Valorant {
    padding-bottom: 40px;
    width: 45%;
  } */

/* .about-Valorant h1 {
    padding-top: 100px;
    font-size: 50px;
    font-weight: bolder;
    color: #ff4655;
  } */

/* .about-Valorant p {
    color: white;
    line-height: 32px;
  } */

/* .information-Valorant {
    padding-top: 40px;
  } */

/* .column {
    border: 3px solid #fff;
    padding: 40px 40px;
  }
  
  .one p,
  .two p,
  .three p {
    text-align: justify;
  }
  
  .column h1 {
    padding-bottom: 20px;
    font-size: 32px;
    color: #ff4655;
  }
  
  .column p {
    font-size: 18px;
    line-height: 30px;
    color: white;
  } */

/* .wearevalo {
  background-color: #ece8e1;
  position: relative;
  padding-top: 10%;
  padding-bottom: 10%;
  padding-right: 10%;
  padding-left: 10%;
  display: block;
}

.tittlevalo {
  font-family: sans-serif;
  font-weight: 850;
  font-size: 100px;
  color: #0F1923;
  word-spacing: 0px;
  display: inline-block;
} */

.section-achievementsValorant {
  background-color: #ff4655;
  overflow-x: hidden;
}

.achievementsValorant {
  text-align: center;
  padding: 40px 0;
  width: 100%;
}

.achievementsValorant h1 {
  font-size: 3rem;
  /* padding-left: 80px; */
  color: #ffffff;
}

.section-events {
  background-color: #111;
  overflow-x: hidden;
}

.section-officialVideoValo {
  background-color: #ff4655;
  overflow-x: hidden;
}

.sliderContent {
  border: 5px solid #ffffff;
  border-radius: 7px;
  transition: 0.25s ease;
  overflow: hidden;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  box-shadow: 1px 6px 60px grey;
  -webkit-transition: 0.25s ease;
  -moz-transition: 0.25s ease;
  -ms-transition: 0.25s ease;
  -o-transition: 0.25s ease;
}

.sliderContent:hover {
  transform: translate(0, -5px);
  -webkit-transform: translate(0, -5px);
  -moz-transform: translate(0, -5px);
  -ms-transform: translate(0, -5px);
  -o-transform: translate(0, -5px);
}

.sliderContent img {
  transition: transform 0.25s ease;
  -webkit-transition: transform 0.25s ease;
  -moz-transition: transform 0.25s ease;
  -ms-transition: transform 0.25s ease;
  -o-transition: transform 0.25s ease;
}

.sliderContent img:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.sliderContent:hover .fa-play-circle {
  display: block;
}

.fa-play-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-size: 60px;
  z-index: 100;
  opacity: 0;
  transition: 0.25s ease;
  -webkit-transition: 0.25s ease;
  -moz-transition: 0.25s ease;
  -ms-transition: 0.25s ease;
  -o-transition: 0.25s ease;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.play-1 {
  color: white;
}

.play-2 {
  color: black;
}

.sliderContent:hover .fa-play-circle {
  opacity: 1;
}

@media only screen and (max-width: 320px) {
  .introduction-header h1 {
    padding-top: 40px;
    font-size: 32px !important;
  }

  .introduction-header p {
    font-size: 12px !important;
  }

  .about-Valorant h1 {
    font-size: 32px !important;
  }

  .about-Valorant p {
    font-size: 12px !important;
    line-height: 24px !important;
  }

  .boxInfo h1 {
    font-size: 18px !important;
  }

  .boxInfo p {
    font-size: 12px !important;
  }

  .button-fanpage {
    width: 85% !important;
    font-size: 14px !important;
  }
}

@media only screen and (max-width: 375px) {
  .container {
    width: 90%;
  }

  .introduction-header h1 {
    padding-top: 40px;
    font-size: 42px;
  }

  .introduction-header p {
    font-size: 14px;
  }

  .firstWrapper {
    padding-top: 40px;
  }

  .button-fanpage {
    width: 75%;
  }

  .boxInfo {
    width: 100%;
    padding: 60px 30px;
    margin-bottom: 50px;
  }

  .boxInfo h1 {
    font-size: 24px;
  }

  .boxInfo p {
    font-size: 14px;
  }

  .final-wrapper {
    width: 90%;
  }

  .final-boxInfo h1 {
    font-size: 20px;
  }

  .about-Valorant {
    padding-bottom: 20px;
  }

  .about-Valorant h1 {
    font-size: 42px;
  }

  .about-Valorant p {
    font-size: 12px;
    line-height: 24px;
  }

  .information-Valorant p {
    font-size: 14px;
    line-height: 24px;
  }

  .achievementsValorant h1 {
    padding-left: 0;
    text-align: center;
    font-size: 32px;
  }
}

@media only screen and (max-width: 425px) {
  /* .container-hololiveLogo a {
    margin: 0;
    padding: 0;
  } */

  .button-fanpage {
    width: 75%;
  }

  .final-wrapper {
    width: 90%;
  }

  .achievementsValorant h1 {
    padding-left: 0;
    text-align: center;
    font-size: 32px;
  }

  .preloader-web img {
    width: 80%;
  }
}

@media only screen and (max-width: 768px) {
  .firstWrapper {
    display: block;
  }

  .final-boxInfo {
    width: 85%;
  }

  .about-Valorant {
    width: 75%;
  }

  .information-Valorant {
    padding-bottom: 70px;
  }

  /* .column {
      display: block;
      margin-bottom: 40px;
    } */
}

@media only screen and (min-width: 728px) and (max-width: 1024px) {
  .firstWrapper {
    display: block;
  }

  .final-boxInfo {
    width: 85%;
  }

  .about-Valorant {
    width: 75%;
  }

  .information-Valorant {
    padding-bottom: 70px;
  }

  /* .column {
      display: block;
      margin-bottom: 80px;
    } */
}

@media only screen and (min-width: 1440px) {
  .information-Valorant {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    column-gap: 30px;
    padding-bottom: 120px;
  }
}
@media all and (min-width: 1280px) {
  .header-text-container {
    position: absolute;
    color: #fff;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    bottom: 1%;
    font-size: 3rem;
    padding: 0 30px;
  }

  .header-text-container .desc-container {
    margin-bottom: 100px;
  }
}

@media all and (max-width: 900px) {
  /* OTHER AGENTS */
  .other-agents {
    min-height: 100vh;
    width: 100%;
    padding: 0;
    padding-bottom: 100px;
  }

  .other-agents h1 {
    margin-bottom: 50px;
    font-size: 7vh;
    padding-left: 20px;
  }

  .other-agents .agents-container {
    width: 100%;
    grid-template-columns: repeat(3, 30%);
    grid-template-rows: repeat(8, 18%);
  }

  .other-agents .agents-container img {
    width: 100%;
  }
}

@media all and (max-width: 1440px) {
  /* OTHER AGENTS */
  .other-agents {
    min-height: 100vh;
    width: 100%;
    padding: 0;
    padding-bottom: 100px;
  }

  .other-agents .agents-container {
    width: 80%;
    grid-template-columns: repeat(6, 19%);
    grid-template-rows: repeat(8, 40%);
  }

}

@media all and (max-width: 1024px) {
  /* OTHER AGENTS */
  .other-agents {
    min-height: 100vh;
    width: 100%;
    padding: 0;
    padding-bottom: 100px;
  }

  .other-agents h1 {
    margin-bottom: 50px;
    font-size: 7vh;
    padding-left: 0;
  }

  .other-agents .agents-container {
    width: 90%;
    grid-template-columns: repeat(4, 20%);
    grid-template-rows: repeat(8, 25%);
  }

  .other-agents .agents-container img {
    width: 100%;
  }
}

@media all and (max-width: 425px){
  /* OTHER AGENTS */
  .other-agents {
    min-height: 100vh;
    width: 100%;
    padding: 0;
    padding-bottom: 100px;
  }

  .other-agents .agents-container {
    width: 80%;
    grid-template-columns: repeat(3, 39%);
    grid-template-rows: repeat(8, 18%);
  }

}
